<div id="<%= dom_id client %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Clients:</strong>
    <%= client.client %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Situation legal:</strong>
    <%= client.situation_legal %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Number doc:</strong>
    <%= client.number_doc %>
  </p>

</div>
